/* Default CSS */
#modernizr-css, #modernizr-js {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #333;
}

/* property or element 1 */

.no-picture .box #modernizr-css{ 
    background-color: red; 
    }
.picture .box #modernizr-css{ 
    background-color: green; 
    }


/* property or element 2 */

/* property or element 3 */