/* Default CSS */
#modernizr-css, #modernizr-js {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #333;
}

/* property or element 1 */

/* property or element 2 */

/* property or element 3 */